<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->

  <div class="search-box">
    <!--<input ng-model="searchProblem" class="form-control">-->
    <angucomplete
      id="plans"
      pause="100"
      placeholder="Search Saved Plans"
      selectedobject="selectedProblem"
      localdata="problems"
      titlefield="name"
      inputclass="form-control form-control-small"
      searchfields="name"
      />
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
<!--</div>-->
  <br>
  <ul class="list-inline">
    <li ng-repeat="problem in problems | filter: searchProblem" ng-click="appendPlan(problem.id)">
      {{problem.name}}
    </li>
  </ul>
  <pre>{{pickedPlan | json}}</pre>
  <textarea cols="1000" class="form-control ng-scope" style="margin: 0px -1px 0px 0px; width: 700px; height: 411px;"></textarea>
</div>
