<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->

  <button type="button" class="btn btn-default">
    <input ng-model="searchProblem">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>
<!--</div>-->
  <br>
  Saved Plans:
  <ul class="list-inline">
    <li ng-repeat="problem in problems | filter: searchProblem">
      {{problem.name}}
    </li>
  </ul>
</div>
